<od-widget widget-title="Interne News" icon="ressources/images/icon.png" template="tpl-big-header-ignore-titlebar">
    <od-widget-header nospacing>
        <div class="no-news" ng-if="oneColController.lastNews.length === 0">
            <div class="alert alert-warning" role="alert">Keine News vorhanden !!!</div>
        </div>

        <od-scrollbar>
            <div ng-if="oneColController.lastNews.length > 0">
                <span class="glyphicon glyphicon-list switch" ng-click="oneColController.switch()" ng-if="!oneColController.isList"></span>
                <span class="glyphicon glyphicon-th-large switch" ng-click="oneColController.switch()" ng-if="oneColController.isList"></span>

                <div ng-if="!oneColController.isList">
                    <div class="news-img-big" ng-click="oneColController.openNewsArticle(oneColController.lastNews[0]);">
                        <span class="show-arrow icon-widget-forward"></span>
                        <div class="big-headline">
                            <h1>{{ oneColController.lastNews[0].title | odTruncate:75 }}</h1>
                            <div class="news-teaser">
                                {{ oneColController.lastNews[0].createdAt | odRelativeTime:'x' }}
                                <span class="badge">{{ oneColController.lastNews[0].category.value  | odTruncate:20:'...'}}</span>
                                <div style="margin-top: 5px; margin-bottom: 5px;" ng-bind-html="oneColController.lastNews[0].content | odTruncate:115"></div>
                                <div class="likes">{{oneColController.lastNews[0].likes}}</div>
                                <div class="comment">{{oneColController.lastNews[0].nofComments}}</div>
                            </div>
                        </div>
                        <div class="img-inner" style="background:url({{ oneColController.lastNews[0].image }}) center center no-repeat;"></div>
                    </div>

                    <div class="news-img-small"
                         ng-repeat="news in oneColController.lastNews track by $index"
                         ng-click="oneColController.openNewsArticle(news);"
                         ng-if="news !== undefined && $index > 0">

                        <span class="show-arrow icon-widget-forward"></span>
                        <div class="big-headline">
                            <h3>{{ news.title | odTruncate:75 }}</h3>
                        </div>
                        <div class="img-inner" style="background:url({{ news.image }}) center center no-repeat;"></div>
                    </div>
                </div>
                <div ng-if="oneColController.isList">

                    <news-list news-list="oneColController.lastNews"></news-list>

                </div>
            </div>
        </od-scrollbar>

    </od-widget-header>
    <od-widget-content nospacing>
    </od-widget-content>
</od-widget>